<p>view product works! </p>
<p>ID:- {{viewProduct.productid}}</p>
<section class="py-5"  >
    <div class="container px-4 px-lg-5 my-5" >
        <div class="row gx-4 gx-lg-5 align-items-center" >
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{viewProduct.productImg}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">{{viewProduct.productName}}</h1>
                <a href="products/update-product/{{viewProduct.productid}}">Update Product</a>
                |
                <a href="products/delete-product/{{viewProduct.productid}}">Delete Product</a>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">$45.00</span>
                    <span>Price: {{viewProduct.price}}</span>
                    <p>Colour: {{viewProduct.color}}</p>
                    <p>Rating: {{viewProduct.rating}}</p>
                    <p>Availabel: {{viewProduct.isavailable}}</p>
                </div>
                
                <p class="lead">{{viewProduct.description}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
